<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre Sonhos </h2>
            <p class="footer__about-text">
                Para você, desejo o sonho realizado. O amor esperado. A esperança renovada. Para você, desejo todas as
                cores desta vida. Todas as alegrias que puder sorrir. Todas as músicas que puder emocionar. Desejo que
                os amigos sejam mais cúmplices, que sua família esteja mais unida, que sua vida seja mais bem vivida.
                Gostaria de lhe desejar tantas coisas. Mas nada seria suficiente... Então, desejo apenas que você tenha
                muitos desejos. Desejos grandes e que eles possam te mover a cada minuto, ao rumo da sua felicidade.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-solid fa-phone"></i>(00) 0000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i>(00) 0 0000-0000</li>
            </ul>

        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>

</footer>